﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        <label for="facility" class="searchtextstyle">Empresa:</label>
        <select class="selectform" id="facility" name="facility" required>
            <option value=""></option>
            @foreach (var facility in (Dictionary<string, string>)Session[M3Light.Logic.CacheSystem.SessionNameFacilities]) {
                <option value="@facility.Value">@facility.Key</option>
            }
        </select>

        <label for="datalabel" class="searchtextstyle searchtextstylemultiple">Data Ordem:</label>
        <input type="date" id="firstDate" name="firstDate" class="inputrequiredform" required>
        <label for="space" class="searchtextstyle labelbetweenspaces">-</label>
        <input type="date" id="lastDate" name="lastDate" class="inputrequiredform" required>

        <button class="btn btn-success btn-sm buttonsearch" onclick="Search()"> Mostrar dados</button>
    </div>

    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Encomenda:
            </div>

            <div class="searchdropdowninput">
                <input type="text" id="encomenda" name="encomenda" class="searchinput">
            </div>

            <div class="searchdropdowntitle">
                Cliente:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="cliente" name="cliente" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Estado mais baixo:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="estadobaixo" name="estadobaixo" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Estado mais alto:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="estadoalto" name="estadoalto" class="searchinput">
            </div>
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters);
        }

        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters, 'firstDate', 'lastDate');
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'encomenda': inputValue(document.getElementById('encomenda')),
            'cliente': inputValue(document.getElementById('cliente')),
            'estadobaixo': inputValue(document.getElementById('estadobaixo')),
            'estadoalto': inputValue(document.getElementById('estadoalto'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'facility': inputValue(document.getElementById('facility')),
            'data ordem': BetweenValues(document.getElementById('firstDate'), document.getElementById('lastDate'))
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
        clearValue(document.getElementById('encomenda'));
        clearValue(document.getElementById('cliente'));
        clearValue(document.getElementById('estadobaixo'));
        clearValue(document.getElementById('estadoalto'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>