﻿@model M3Light.Models.DataSetTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        <label for="facility" class="searchtextstyle">Empresa:</label>
        <select class="selectform" id="facility" name="facility" required>
            <option value=""></option>
            @foreach (var facility in (Dictionary<string, string>)Session[M3Light.Logic.CacheSystem.SessionNameFacilities]) {
                <option value="@facility.Value">@facility.Key</option>
            }
        </select>

        <label for="artigo" class="searchtextstyle">Artigo:</label>
        <input type="text" id="artigo" name="artigo" class="inputrequiredform" required>

        <button class="btn btn-success btn-sm buttonsearch" onclick="Search()"> Mostrar dados</button>
    </div>
</div>

@if (Model.DataToShow != null) {
    <div class="griddata">
        @{
            foreach (System.Data.DataTable data in Model.DataToShow.Tables) {
                if (data.Rows.Count == 1 && data.Columns.Count == 1) {
                    <h4 style="font-weight:bold;color:#0066A4">@data.Rows[0][0]</h4>
                } else {
                    <table class="table table-sm table-bordered table-hover" style="font-size: 12px;cursor: pointer;">
                        <thead class="tablehead">
                            <tr>
                                @foreach (System.Data.DataColumn column in data.Columns) {
                                    <th>@column.ColumnName</th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (System.Data.DataRow row in data.Rows) {
                                <tr>
                                    @foreach (System.Data.DataColumn column in data.Columns) {
                                        <td>@row[column].ToString()</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        }
    </div>
}


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters);
        }
    });

    function FillFiltersUrl() {
        return '';
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'artigo': inputValue(document.getElementById('artigo')),
            'facility': inputValue(document.getElementById('facility'))
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
    }

    function GetSort() {
        return '';
    }

    function GetSortDir() {
        return '';
    }

    function GetIsSubMenu() {
        return 'false';
    }
</script>