﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        <label for="artigo" class="searchtextstyle">Artigo:</label>
        <input type="text" id="artigo" name="artigo" class="inputrequiredform" required>

        <label for="armazem" class="searchtextstyle searchtextstylemultiple">Armazém:</label>
        <input type="text" id="armazém" name="armazém" class="inputrequiredform" required>

        <label for="datalabel" class="searchtextstyle searchtextstylemultiple">Data Registo:</label>
        <input type="date" id="firstDate" name="firstDate" class="inputrequiredform" required>
        <label for="space" class="searchtextstyle labelbetweenspaces">-</label>
        <input type="date" id="lastDate" name="lastDate" class="inputrequiredform" required>

        <button class="btn btn-success btn-sm buttonsearch" onclick="Search()"> Mostrar dados</button>
    </div>

    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Transação ID:
            </div>

            <div class="searchdropdowninput">
                <input type="text" id="transação id" name="transação id" class="searchinput">
            </div>

            <div class="searchdropdowntitle">
                Ordem:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="ordem" name="ordem" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Zona Stock:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="zona stock" name="zona stock" class="searchinput">
            </div>
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters);
        }

        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters, 'firstDate', 'lastDate');
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'transação id': inputValue(document.getElementById('transação id')),
            'ordem': inputValue(document.getElementById('ordem')),
            'zona stock': inputValue(document.getElementById('zona stock'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'artigo': inputValue(document.getElementById('artigo')),
            'data registo': BetweenValues(document.getElementById('firstDate'), document.getElementById('lastDate')),
            'armazém': inputValue(document.getElementById('armazém'))
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
        clearValue(document.getElementById('transação id'));
        clearValue(document.getElementById('ordem'));
        clearValue(document.getElementById('zona stock'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>