﻿body {
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: auto;
}

.ahref {
    color: #cccccc;
    text-decoration: underline;
    cursor: pointer;
}

.header {
    height: 10vh;
    max-height: 10vh;
    width: 100%;
    background-color: #0066A4;
    float: left;
    display: inline-block;
}

.header-small {
    height: 7vh;
    max-height: 7vh;
    width: 100%;
    background-color: #0066A4;
    float: left;
    display: inline-block;
}

.headerimgdiv {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
}

.headertitlediv {
    height: 100%;
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
    padding-left: 25%;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.headertitleMenudiv {
    height: 100%;
    width: 60%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 34px;
    color: #ffffff;
    font-weight: bold;
    padding-left: 20%;
    position: relative;
}

.headertitleUserdiv {
    height: 100%;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
}

.divcontent {
    float: left;
    display: inline-block;
    width: 100%;
    height: 90vh;
    max-height: 90vh;
}

.menulayoutleft {
    float: left;
    display: inline-block;
    width: 10%;
    max-width: 10%;
    height: 93vh;
    max-height: 93vh;
    overflow-y: auto;
    background-color: #e6e6e6;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 2px 2px 20px -5px rgba(0,0,0,0);
    box-shadow: 0px 10px 13px -7px #000000, 2px 2px 20px -5px rgba(0,0,0,0);
}

.menulayoutright {
    float: left;
    display: inline-block;
    width: 90%;
    max-width: 90%;
    height: 93vh;
    max-height: 93vh;
    overflow: auto;
}

.divlogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}


.divlogincontent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 15px 15px 0 rgba(0,0,0,0.3);
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.3);
    text-align: center;
}


.divloginfooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
    color: #FF0000;
}

.logininput {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.logintitle {
    font-weight: bold;
    font-size: 30px;
    color: #0066A4;
    margin-top: 2%;
}

.logininput:focus {
    background-color: #FFFFFF;
    border-bottom: 2px solid #0066A4;
}

.logininput:placeholder {
    color: #CCCCCC;
}

.loginbutton {
    background-color: #0066A4;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .loginbutton:hover {
        background-color: #106294;
    }

    .loginbutton:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}

    #cssmenu ul {
        position: relative;
        float: left;
    }

        #cssmenu ul li {
            float: left;
            min-height: 1%;
            line-height: 1em;
            vertical-align: middle;
        }

            #cssmenu ul li.hover,
            #cssmenu ul li:hover {
                position: relative;
            }

        #cssmenu ul ul {
            margin-top: 1%;
            visibility: hidden;
            position: absolute;
            top: 1%;
            width: 100%;
        }

            #cssmenu ul ul li {
                float: none;
            }

            #cssmenu ul ul ul {
                top: 1%;
            }

        #cssmenu ul li:hover > ul {
            visibility: visible;
        }

        #cssmenu ul li {
            float: none;
        }

        #cssmenu ul ul li {
            font-weight: normal;
        }

#cssmenu {
    font-size: 14px;
}

    #cssmenu ul a,
    #cssmenu ul a:link,
    #cssmenu ul a:visited {
        display: block;
        color: #0066A4;
        text-decoration: none;
        font-weight: bold;
    }

    #cssmenu > ul {
        float: none;
    }

        #cssmenu > ul > li {
            border-left: 3px solid #0066A4;
        }

            #cssmenu > ul > li > a {
                padding: 10px 20px;
            }

            #cssmenu > ul > li:hover {
                border-left: 3px solid #0066A4;
            }

    #cssmenu ul li:hover > a {
        color: #0066A4;
    }

    #cssmenu > ul > li:hover {
        background: #f6f6f6;
    }

.selected {
    background: #f6f6f6;
    color: #0066A4;
}


.selectform {
    height: 80%;
    width: 17%;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    margin-left: 2%;
}

.inputrequiredform {
    height: 80%;
    width: 15%;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    margin-left: 2%;
}

.buttonsearch {
    margin-left: 2%;
    height: 5vh;
    max-height: 5vh;
    font-weight: bold;
    font-size: 14px;
}

.inputform {
    height: 100%;
    width: 50%;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    margin-left: 2%;
}

.searchtextstyle {
    padding-top: 0.3%;
}

.searchtextstylemultiple {
    padding-left: 0.6%;
}

.contentgrid {
    width: 100%;
    max-width: 100%;
    height: 93vh;
    max-height: 93vh;
}

.searchdiv {
    width: 100%;
    max-width: 100%;
    height: 7vh;
    max-height: 7vh;
    float: left;
    display: inline-block;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 0.5%;
}


.gridheader {
    width: 100%;
    max-width: 100%;
    height: 14vh;
    max-height: 14vh;
    float: left;
    display: inline-block;
    align-content: flex-end;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
}

.gridheaderwithoutrequiredfilters {
    width: 100%;
    max-width: 100%;
    height: 7vh;
    max-height: 7vh;
    float: left;
    display: inline-block;
    align-content: flex-end;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1.5%;
}

.gridbuttons {
    float: right;
    margin-right: 1%;
}


.griddata {
    overflow: auto;
    width: 98%;
    max-width: 98%;
    height: 67.5vh;
    max-height: 67.5vh;
    float: left;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0.5%;
}

.gridpagination {
    width: 95%;
    max-width: 95%;
    height: 8vh;
    max-height: 8vh;
    float: left;
    display: inline-block;
    overflow: hidden;
    font-size: 12px;
    margin-left: 2.5%;
    margin-top: 1%;
    justify-content: center;
    align-content: center;
    display: flex;
}

.gridheaderbuttons {
    width: 40%;
    max-width: 40%;
    height: 100%;
    max-height: 100%;
    float: right;
    display: inline-block;
    padding-top: 1%;
    margin-right: 1%;
}

.gridheaderfilters {
    width: 20%;
    max-width: 20%;
    height: 7vh;
    max-height: 7vh;
    float: left;
    display: inline-block;
    padding-top: 1%;
    margin-left: 1%;
}

.tablehead {
    background-color: #e6e6e6;
}

.buttonpagination {
    display: inline-block;
    float: left;
    width: 22%;
    height: 5vh;
    margin-top: 5%;
    margin-left: 2%;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    border: 2px solid #0066A4;
    background-color: #ddd;
    color: #0066A4;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}

    .buttonpagination:hover {
        color: #FFFFFF;
        background-color: #0066A4;
    }

    .buttonpagination:disabled {
        background-color: #cccccc;
        border: none;
        color: #bfbfbf;
        cursor: not-allowed;
    }


.gridpaginationbuttons {
    float: left;
    display: inline-block;
    width: 15%;
    max-width: 15%;
    height: 100%;
    max-height: 100%;
}

.gridpaginationsbuttonstext {
    float: left;
    display: inline-block;
    width: 15%;
    max-width: 15%;
    height: 100%;
    max-height: 100%;
    font-size: 14px;
    margin-top: 1.5%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    width: 20%;
    height: 30vh;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


.show {
    display: block;
}

.searchinput {
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
}

.searchinputbetween {
    width: 35%;
}


.searchinputdate {
    width: 78%;
}

.searchinputdate2 {
    width: 65%;
}

.searchdropdowntitle {
    float: left;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

.searchdropdowninput {
    float: left;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    font-size: 12px;
    padding-bottom: 2%;
}

.searchaddcolumnstext {
    font-size: 12px;
}

.buttondivfilters {
    padding-bottom: 5%;
}

.addcolumnsdiv {
    padding-top: 2%;
}

.buttonfilter {
    background-color: #cccccc;
}

    .buttonfilter:hover {
        background-color: #b3b3b3;
    }


.filtersinputsize {
    width: 80%;
}

.dropdownMenu1-cssbutton {
    border: none;
    background-color: transparent;
}

.menusize {
    height: 97%;
    max-height: 97%;
}

.menufooter {
    height: 2%;
    max-height: 2%;
    font-size: 8px;
    color: #000000;
    text-decoration: underline;
}

.gridbuttonsright {
    float: right;
    margin-right: 0.3%;
}

.gridbuttonsleft {
    float: left;
    margin-right: 0.3%;
}

.backbutton {
    height: 5vh;
    max-height: 5vh;
}

.labelbetweenspaces {
    padding-left: 2%;
}
