﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@M3Light.Logic.CacheSystem.SoftwareTitle</title>
    <link rel="icon" href="~/Images/logoicon.ico">

    <link rel="stylesheet" type="text/css" href="~/Scripts/">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css">

    <script type="text/javascript" language="javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
    <script type="text/javascript">
        window.history.forward();
        function noBack() { window.history.forward(); }
    </script>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    @RenderBody()
</body>
</html>
