﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@M3Light.Logic.CacheSystem.SoftwareTitle</title>
    <link rel="icon" href="~/Images/logoicon.ico">

    <link rel="stylesheet" type="text/css" href="~/Scripts/">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/bootstrap.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/modernizr-2.8.3.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">
        var page = 0;
        var totalpages = 0;
        var newPage = 0;
        var sort = '';
        var sortdir = '';

        window.history.forward();
        function noBack() { window.history.forward(); }

        window.addEventListener("load", function () {
            var pageData = document.getElementById("getpage");
            var totalPageData = document.getElementById("gettotalpage");

            if (pageData != null) {
                page = parseInt(pageData.innerHTML);
            }

            if (totalPageData != null) {
                totalpages = parseInt(totalPageData.innerHTML);
            }

            newpage = page;
        });

        function GetUrlToSearch(refreshData = false) {
            if (sortdir == '' && !refreshData) {
                sortdir = GetSortDir(refreshData);
            }

            if (sort == '' && !refreshData) {
                sort = GetSort(refreshData);
            }

            var url = "@Url.Action("ProcessDataMenu", "Core")"
                    + "?menuID=" + '@Session[M3Light.Logic.CacheSystem.SessionNameMenuID]' +
                    "&page=" + newpage +
                    "&sort=" + sort +
                    "&sortDir=" + sortdir +
                    "&refreshData=" + refreshData +
                    "&filters=" + FillFiltersUrl() +
                    "&requiredFilters=" + FillRequiredFiltersUrl() +
                    "&addColumns=" + GetCheckedColumns() +
                    "&isSubMenu=" + GetIsSubMenu();

            window.location.href = url;
        }

        function Refresh() {
            sort = '';
            sortdir = '';
            newpage = 1;
            ClearFilters();
            GetUrlToSearch(true);
        }

        function Search(ignorerequiredFields = null) {
            var requiredFilters = JSON.parse(FillRequiredFiltersUrl());

            if (ignorerequiredFields != null) {
                ignorerequiredFields.forEach(key => delete requiredFilters[key]);
            }

            var newRequiredFilters = JSON.stringify(requiredFilters);

            if (!newRequiredFilters.includes(':""') &&
                !newRequiredFilters.includes('<->"') &&
                !newRequiredFilters.includes('"<->')) {
                Refresh();
            }
        }

        // --------------------------------Begin Filters--------------------------------
        function GetCheckedColumns() {
            var text = ''
            var inputs = document.querySelectorAll("input[type='checkbox']");
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i].checked == true) {
                    text += inputs[i].id + ",";
                }
            }

            var lastChar = text.substr(text.length - 1);

            if (lastChar == ',') {
                text = text.substring(0, text.length - 1);
            }

            return text;
        }

        function dropdownSearch() {
            document.getElementById("dropdownSearch").classList.toggle("show");

            var buttonId = document.getElementById("dropdowncolumnsbutton");
            if (buttonId.disabled) {
                buttonId.disabled = false;
            } else {
                buttonId.disabled = true;
            }
        }

        function dropdownColumns() {
            document.getElementById("dropdownColumns").classList.toggle("show");

            var buttonId = document.getElementById("dropdownsearchbutton");
            if (buttonId.disabled) {
                buttonId.disabled = false;
            } else {
                buttonId.disabled = true;
            }
        }

        function BetweenValues(deInput, ateInput) {
            var de = deInput == null ? '' : deInput.value;
            var ate = ateInput == null ? '' : ateInput.value;
            var result = de != '' || ate != '' ? de + "<->" + ate : '';

            return result;
        }

        function inputValue(inputValue) {
            return inputValue == null ? '' : inputValue.value.trim();
        }

        function clearValue(inputValue) {
            if (inputValue != null) {
                inputValue.value = '';
            }
        }

        function clearCheckBoxs() {
            var inputs = document.querySelectorAll("input[type='checkbox']");

            if (inputs != null) {
                for (var i = 0; i < inputs.length; i++) {
                    inputs[i].checked = false;
                }
            }
        }

        function CheckCheckBoxs(value) {
            var inputs = document.querySelectorAll("input[type='checkbox']");
            for (var i = 0; i < inputs.length; i++) {
                if (value.includes(inputs[i].id)) {
                    inputs[i].checked = true;
                }
            }
        }

        function OnLoadFilters(filters, deInput = '', ateInput = '') {
            $.each(filters, function (key, value) {
                if (document.getElementById(key) != null) {
                    document.getElementById(key).value = value;
                } else {
                    if (value.includes('<->')) {
                        var split = value.split("<->");

                        document.getElementById(deInput).value = split[0];
                        document.getElementById(ateInput).value = split[1];
                    }
                }
            });
        }
        // --------------------------------End Filters--------------------------------

        // --------------------------------Begin Pagination--------------------------------
        function firstPage() {
            newpage = 1;
            GetUrlToSearch();
        };

        function lastPage() {
            newpage = totalpages;
            GetUrlToSearch();
        };

        function previousPage() {
            newpage = page - 1;
            GetUrlToSearch();
        };

        function nextPage() {
            newpage = page + 1;
            GetUrlToSearch();
        };
        // --------------------------------End Pagination--------------------------------


        // --------------------------------Begin Sort--------------------------------
        function SortClick(lastsort, lastsortdir, newsort) {
            if (lastsort == newsort) {
                sort = newsort;

                if (lastsortdir == 'asc') {
                    sortdir = 'desc';
                } else {
                    sortdir = 'asc';
                }
            } else {
                sort = newsort;
                sortdir = 'asc';
            }

            GetUrlToSearch();
        }
        // --------------------------------End Sort--------------------------------
    </script>
</head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="">
    <div id="header" class="header-small">
        <div id="headerimagediv" class="headerimgdiv">
            <img src="~/Images/logo.png" height="40" width="140">
        </div>

        <div id="headertitleMenudiv" class="headertitleMenudiv">
            @M3Light.Logic.CacheSystem.SoftwareTitle
        </div>

        <div id="headertitleUserdiv" class="headertitleUserdiv">
            Sessão : @Session[M3Light.Logic.CacheSystem.SessionNameUsername].ToString() || <span class="ahref" onclick="location.href='@Url.Action("Logout", "Login")'"> Terminar Sessão </span>
        </div>
    </div>

    <div id="content" class="divcontent">
        <div id="left" class="menulayoutleft">
            <div id='cssmenu' class="menusize">
                <ul>
                    @{
                        var listMenus = (List<M3Light.Models.UserPermissionViewPoco>)Session["Menus"];

                        var menuID = Session[M3Light.Logic.CacheSystem.SessionNameMenuID];

                        var isSubMenu = string.Empty;
                        if (menuID != null) {
                            isSubMenu = listMenus.Where(x => x.MenuID.ToString() == menuID.ToString()).Select(x => x.MenuPrincipalID.ToString()).FirstOrDefault();
                        }

                        foreach (var menu in (List<M3Light.Models.UserPermissionViewPoco>)Session["Menus"]) {
                            if (menu.ShowInMainMenu) {
                                if (menuID != null &&
                                    ((menuID.ToString() == menu.MenuID.ToString() && menu.ShowInMainMenu) ||
                                    (menu.MenuID.ToString() == isSubMenu.ToString() && !menu.ShowInMainMenu))) {
                                    <li class="selected">
                                        <a href="@Url.Action("ProcessDataMenu", "Core", new { menuID = menu.MenuID, refreshData = true })"><span>@menu.Menu</span></a>
                                    </li>
                                } else {
                                    <li>
                                        <a href="@Url.Action("ProcessDataMenu", "Core", new { menuID = menu.MenuID, refreshData = true })"><span>@menu.Menu</span></a>
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <div id="footer" class="menufooter">
                <a target="_blank" href="https://icons8.com/icons/set/list--v1">List icon</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            </div>
        </div>

        <div id="right" class="menulayoutright">
            <div id="contentgrid" class="contentgrid">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>