﻿@model M3Light.Models.GridTableModel

@if (Model.DataToShow != null) {
    <div class="griddata">
        <table class="table table-sm table-bordered table-hover" style="font-size: 12px;cursor: pointer;">
            <thead class="tablehead">
                <tr>
                    @{
                        if (Model.SubMenus.Count > 0) {
                            <th></th>
                        }

                        foreach (System.Data.DataColumn column in Model.DataToShow.Columns) {
                            if (column.ColumnMapping != System.Data.MappingType.Hidden) {
                                if (Model.Sort == column.ColumnName) {
                                    <th onclick="SortClick('@Model.Sort','@Model.SortDir','@column.ColumnName')">
                                        @if (Model.SortDir == "asc") {
                                            <img src="~/Images/sort-asc.png" height="15" width="15">
                                        } else {
                                            <img src="~/Images/sort-desc.png" height="15" width="15">
                                        }

                                        @column.ColumnName
                                    </th>
                                } else {
                                    <th onclick="SortClick('@Model.Sort','@Model.SortDir','@column.ColumnName')">@column.ColumnName</th>
                                }
                            }
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (System.Data.DataRow row in Model.DataToShow.Rows) {
                        <tr>
                            @if (Model.SubMenus.Count > 0) {
                                <td>
                                    <div class="dropdown">
                                        <button class="dropdownMenu1-cssbutton" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <img src="~/Images/submenu.png" height="20" width="20">
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            @foreach (var submenu in Model.SubMenus) {
                                                var filters = new Dictionary<string, string>();

                                                foreach (var subMenuFilter in submenu.Filters) {
                                                    if (Model.RequiredFilters.ContainsKey(subMenuFilter)) {
                                                        filters.Add(subMenuFilter, Model.RequiredFilters[subMenuFilter]);
                                                    } else {
                                                        filters.Add(subMenuFilter, row[subMenuFilter].ToString());
                                                    }
                                                }

                                                var filtersJson = Newtonsoft.Json.JsonConvert.SerializeObject(filters);

                                                <li>
                                                    <a href="@Url.Action("ProcessDataMenu","Core", new { menuID = submenu.MenuID, refreshData = true, requiredFilters = filtersJson, isSubMenu = true })">@submenu.MenuName</a>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </td>
                            }

                            @foreach (System.Data.DataColumn column in Model.DataToShow.Columns) {
                                if (column.ColumnMapping != System.Data.MappingType.Hidden) {
                                    <td>@row[column].ToString()</td>
                                }
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div id="pagination" class="gridpagination">
        <div id="paginationbuttons" class="gridpaginationbuttons">
            @*Paginação feita aquando da criação porque alterar para disabled em javascript provoca delay*@
            @if ((Model.Page == 1 || Model.Page == 0) && Model.Page == Model.TotalPages) {
                <button id="firstpage" class="buttonpagination" onclick="firstPage()" disabled>
                    &laquo;
                </button>
                <button id="previouspage" class="buttonpagination" onclick="previousPage()" disabled>&lt;</button>
                <button id="nextpage" class="buttonpagination" onclick="nextPage()" disabled>&gt;</button>
                <button id="lastpage" class="buttonpagination" onclick="lastPage()" disabled>&raquo;</button>
            } else if (Model.Page == 1) {
                <button id="firstpage" class="buttonpagination" onclick="firstPage()" disabled>&laquo;</button>
                <button id="previouspage" class="buttonpagination" onclick="previousPage()" disabled>&lt;</button>
                <button id="nextpage" class="buttonpagination" onclick="nextPage()">&gt;</button>
                <button id="lastpage" class="buttonpagination" onclick="lastPage()">&raquo;</button>
            } else if (Model.Page == Model.TotalPages) {
                <button id="firstpage" class="buttonpagination" onclick="firstPage()">&laquo;</button>
                <button id="previouspage" class="buttonpagination" onclick="previousPage()">&lt;</button>
                <button id="nextpage" class="buttonpagination" onclick="nextPage()" disabled>&gt;</button>
                <button id="lastpage" class="buttonpagination" onclick="lastPage()" disabled>&raquo;</button>
            } else {
                <button id="firstpage" class="buttonpagination" onclick="firstPage()">&laquo;</button>
                <button id="previouspage" class="buttonpagination" onclick="previousPage()">&lt;</button>
                <button id="nextpage" class="buttonpagination" onclick="nextPage()">&gt;</button>
                <button id="lastpage" class="buttonpagination" onclick="lastPage()">&raquo;</button>
            }
        </div>

        <div class="gridpaginationsbuttonstext">
            <span id="getpage">@Model.Page</span>
            <span> de </span>
            <span id="gettotalpage">@Model.TotalPages</span>
            <span> páginas</span>
        </div>
    </div>
}