﻿@model M3Light.Models.GridTableModel

@{
    var menus = (List<M3Light.Models.UserPermissionViewPoco>)Session[M3Light.Logic.CacheSystem.SessionNameMenus];
    var menuPrincipalID = menus.Where(x => x.MenuID.ToString() == Session[M3Light.Logic.CacheSystem.SessionNameMenuID].ToString()).FirstOrDefault().MenuPrincipalID;
    var filtersJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model.RequiredFilters);

    <div class="btn btn-sm gridbuttons buttonfilter backbutton" onclick="location.href='@Url.Action("ProcessDataMenu", "Core", new { menuID = menuPrincipalID, refreshData = true, requiredFilters = filtersJson })'">
        <img src="~/Images/back.png" height="15" width="15">
        Voltar
    </div>
}