﻿@model M3Light.Models.GridTableModel

@if (Model.DataToShow != null) {
    <div class="btn btn-sm gridbuttons buttonfilter gridbuttonsright" onclick="Refresh()">
        <img src="~/Images/refresh.png" height="15" width="15">
        Voltar a Carregar Dados
    </div>

    <div class="btn btn-sm gridbuttons buttonfilter gridbuttonsright" onclick="location.href='@Url.Action("Export", "Core",  new { sessionName = M3Light.Logic.CacheSystem.SessionNameAllData })'">
        <img src="~/Images/export.png" height="15" width="15">
        Exportar
    </div>

    <div class="btn btn-sm gridbuttons buttonfilter gridbuttonsright" onclick="location.href='@Url.Action("Export", "Core",  new { sessionName = M3Light.Logic.CacheSystem.SessionNamePartialData })'">
        <img src="~/Images/exportfilters.png" height="15" width="20">
        Exportar c/ filtro
    </div>
}