﻿@model M3Light.Models.GridTableModel

@if (Model.DataToShow != null && Model.MenuFieldsToAdd.Count > 1) {
    <div id="dropdowncolumnsbutton" class="btn btn-sm buttonfilter" onclick="dropdownColumns()">
        <img src="~/Images/filter.png" height="15" width="15">
        Adicionar colunas
    </div>

    <div id="dropdownColumns" class="dropdown-content">
        @foreach (var column in Model.MenuFieldsToAdd) {
            <div class="addcolumnsdiv">
                <input type="checkbox" id="@Html.Raw(column.Key)" name="@Html.Raw(column.Key)" value="@Html.Raw(column.Value)">
                <label class="searchaddcolumnstext" for="@Html.Raw(column.Key)"> @Html.Raw(column.Value)</label>
            </div>
        }

        <div class="buttondivfilters">
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>
    </div>
}