﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        @if (Model.IsSubMenu) {
            @Html.Partial("_PartialPageBackMenuPrincipal", Model)
        } else {
            <label for="artigo" class="searchtextstyle">Artigo:</label>
            <input type="text" id="artigo" name="artigo" class="inputrequiredform" required>

            <label for="artigo" class="searchtextstyle searchtextstylemultiple">Armazém:</label>
            <input type="text" id="armazém" name="armazém" class="inputrequiredform" required>
        }

        <label for="isYear" class="searchtextstyle">Agrupado por:</label>
        <select class="selectform" id="isYear" name="isYear" required>
            <option value="0">Período</option>
            <option value="1">Ano</option>
        </select>

        <button class="btn btn-success btn-sm buttonsearch" onclick="GetUrlToSearch(true)"> Mostrar dados</button>
    </div>

    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Ano:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="ano" name="ano" class="searchinput">
            </div>
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters);
        }

        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters);
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'ano': inputValue(document.getElementById('ano'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'artigo': '@Model.RequiredFilters["artigo"]',
            'armazém': '@Model.RequiredFilters["armazém"]',
            'isYear': inputValue(document.getElementById('isYear')),
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
        clearValue(document.getElementById('ano'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>