﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        @if (Model.IsSubMenu) {
            @Html.Partial("_PartialPageBackMenuPrincipal", Model)
        } else {
            <label for="artigo" class="searchtextstyle">Artigo:</label>
            <input type="text" id="artigo" name="artigo" class="inputrequiredform" required>

            <label for="artigo" class="searchtextstyle searchtextstylemultiple">Armazém:</label>
            <input type="text" id="armazém" name="armazém" class="inputrequiredform" required>

            <button class="btn btn-success btn-sm buttonsearch" onclick="Search()"> Mostrar dados</button>
        }
    </div>

    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Localização:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="localização" name="localização" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Lote:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="lote" name="lote" class="searchinput">
            </div>
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters);
        }

        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters);
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'localização': inputValue(document.getElementById('localização')),
            'lote': inputValue(document.getElementById('lote'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'artigo': inputValue(document.getElementById('artigo')),
            'armazém': inputValue(document.getElementById('armazém'))
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
        clearValue(document.getElementById('localização'));
        clearValue(document.getElementById('lote'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>