﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="header" class="header">
    <div id="headerimagediv" class="headerimgdiv">
        <img src="~/Images/logo.png" height="50" width="150">
    </div>

    <div id="headertitlediv" class="headertitlediv">
        @M3Light.Logic.CacheSystem.SoftwareTitle
    </div>
</div>

<div id="content" class="divcontent">
    <div class="divlogin">
        <div id="divlogincontent" class="divlogincontent">
            <div class="logintitle">
                L O G I N
            </div>

            <div style="margin-top:2%;">
                <form id="loginform" method="post" action="@Url.Action("Login", "Login")">
                    <input type="text" id="username" class="logininput" name="username" placeholder="username" required>
                    <input type="password" id="password" class="logininput" name="password" placeholder="password" required>
                    <input type="submit" class="loginbutton" value="Iniciar Sessão">
                </form>
            </div>

            <div id="divloginfooter" class="divloginfooter">
                @ViewBag.Error
            </div>
        </div>
    </div>
</div>