﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        <label for="facility" class="searchtextstyle">Empresa:</label>
        <select class="selectform" id="facility" name="facility" required>
            <option value=""></option>
            @foreach (var facility in (Dictionary<string, string>)Session[M3Light.Logic.CacheSystem.SessionNameFacilities]) {
                <option value="@facility.Value">@facility.Key</option>
            }
        </select>

        <button class="btn btn-success btn-sm buttonsearch" onclick="Search()"> Mostrar dados</button>
    </div>

    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Artigo:
            </div>

            <div class="searchdropdowninput">
                <input type="text" id="artigo" name="artigo" class="searchinput">
            </div>

            <div class="searchdropdowntitle">
                Ordem:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="ordem" name="ordem" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Estado:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="estadoDe" name="estadoDe" class="searchinput searchinputbetween">
                -
                <input type="text" id="estadoAte" name="estadoAte" class="searchinput searchinputbetween">
            </div>
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters, "estadoDe", "estadoAte");
        }

        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters);
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'artigo': inputValue(document.getElementById('artigo')),
            'ordem': inputValue(document.getElementById('ordem')),
            'estadoof': BetweenValues(document.getElementById('estadoDe'), document.getElementById('estadoAte'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'facility': inputValue(document.getElementById('facility'))
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
        clearValue(document.getElementById('artigo'));
        clearValue(document.getElementById('ordem'));
        clearValue(document.getElementById('estadoDe'));
        clearValue(document.getElementById('estadoAte'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>