﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        <label for="artigo" class="searchtextstyle">Artigo:</label>
        <input type="text" id="artigo" name="artigo" class="inputrequiredform" required>

        <button class="btn btn-success btn-sm buttonsearch" onclick="Search()"> Mostrar dados</button>
    </div>

    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Empresa:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="empresa" name="empresa" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Armazém:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="armazém" name="armazém" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Localização:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="localização" name="localização" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Estado:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="estadoDe" name="estadoDe" class="searchinput searchinputbetween">
                -
                <input type="text" id="estadoAte" name="estadoAte" class="searchinput searchinputbetween">
            </div>
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters, "estadoDe", "estadoAte");
        }

        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters);
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'empresa': inputValue(document.getElementById('empresa')),
            'armazém': inputValue(document.getElementById('armazém')),
            'localização': inputValue(document.getElementById('localização')),
            'estado': BetweenValues(document.getElementById('estadoDe'), document.getElementById('estadoAte'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'artigo': inputValue(document.getElementById('artigo'))
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
        clearValue(document.getElementById('empresa'));
        clearValue(document.getElementById('armazém'));
        clearValue(document.getElementById('localização'));
        clearValue(document.getElementById('estadoDe'));
        clearValue(document.getElementById('estadoAte'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>