﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheaderwithoutrequiredfilters">
    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Número:
            </div>

            <div class="searchdropdowninput">
                <input type="text" id="número" name="número" class="searchinput">
            </div>

            <div class="searchdropdowntitle">
                Nome:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="nome" name="nome" class="searchinput">
            </div>
            <div class="searchdropdowntitle">
                Estado:
            </div>
            <div class="searchdropdowninput">
                <input type="text" id="estadoDe" name="estadoDe" class="searchinput searchinputbetween">
                -
                <input type="text" id="estadoAte" name="estadoAte" class="searchinput searchinputbetween">
            </div>
            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters, "estadoDe", "estadoAte");
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'número': inputValue(document.getElementById('número')),
            'nome': inputValue(document.getElementById('nome')),
            'estado': BetweenValues(document.getElementById('estadoDe'), document.getElementById('estadoAte'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        return '';
    }

    function ClearFilters() {
        clearValue(document.getElementById('número'));
        clearValue(document.getElementById('nome'));
        clearValue(document.getElementById('estadoDe'));
        clearValue(document.getElementById('estadoAte'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>