﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        @if (Model.IsSubMenu) {
            @Html.Partial("_PartialPageBackMenuPrincipal", Model)
        }
    </div>

    @if (Model.DataToShow != null) {
        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        return '';
    }

    function FillRequiredFiltersUrl() {
        return '@Html.Raw(Json.Encode(Model.RequiredFilters))';
    }

    function ClearFilters() {
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>