﻿@model M3Light.Models.GridTableModel

@{
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div id="gridHeader" class="gridheader">
    <div id="gridheaderrequiredfilters" class="searchdiv">
        <label for="datalabel" class="searchtextstyle searchtextstylemultiple">Lista Preço:</label>
        <input type="text" id="listapreço" name="listapreço" class="inputrequiredform" required>

        <label for="datalabel" class="searchtextstyle searchtextstylemultiple">Cliente</label>
        <input type="text" id="cliente" name="cliente" class="inputrequiredform">

        <label for="datalabel" class="searchtextstyle searchtextstylemultiple">Data:</label>
        <input type="date" id="firstDate" name="firstDate" class="inputrequiredform" required>
        <label for="space" class="searchtextstyle labelbetweenspaces">-</label>
        <input type="date" id="lastDate" name="lastDate" class="inputrequiredform" required>

        <button class="btn btn-success btn-sm buttonsearch" onclick="Search(['cliente'])"> Mostrar dados</button>
    </div>

    @if (Model.DataToShow != null) {
        <div id="dropdownsearchbutton" class="btn btn-sm buttonfilter" onclick="dropdownSearch()">
            <img src="~/Images/filter.png" height="15" width="15">
            Filtros
        </div>
        <div id="dropdownSearch" class="dropdown-content">
            <div class="searchdropdowntitle">
                Artigo:
            </div>

            <div class="searchdropdowninput">
                <input type="text" id="artigo" name="artigo" class="searchinput">
            </div>

            <button class="btn btn-default btn-sm" onclick="GetUrlToSearch()"> Pesquisar</button>
        </div>

        @Html.Partial("_PartialPageAddColumns", Model)
    }

    @Html.Partial("_PartialPageButtonsOptions", Model)
</div>

@Html.Partial("_PartialPageTable", Model)


<script type="text/javascript">
    window.addEventListener("load", function () {
        if ('@Model.Filters' != '') {
            var filters = @Html.Raw(Json.Encode(Model.Filters));
            OnLoadFilters(filters);
        }

        if ('@Model.RequiredFilters' != '') {
            var requiredFilters = @Html.Raw(Json.Encode(Model.RequiredFilters));
            OnLoadFilters(requiredFilters, 'firstDate', 'lastDate');
        }

        if ('@Model.MenuFieldsSelected' != '') {
            CheckCheckBoxs('@Html.Raw(Model.MenuFieldsSelected)');
        }
    });

    function FillFiltersUrl() {
        var dic = {
            'artigo': inputValue(document.getElementById('artigo'))
        };

        return JSON.stringify(dic);
    }

    function FillRequiredFiltersUrl() {
        var dic = {
            'listapreço': inputValue(document.getElementById('listapreço')),
            'cliente': inputValue(document.getElementById('cliente')),
            'data': BetweenValues(document.getElementById('firstDate'), document.getElementById('lastDate')),
        };

        return JSON.stringify(dic);
    }

    function ClearFilters() {
        clearValue(document.getElementById('artigo'));
        clearCheckBoxs();
    }

    function GetSort() {
        return '@Html.Raw(Model.Sort)';
    }

    function GetSortDir() {
        return '@Model.SortDir';
    }

    function GetIsSubMenu() {
        return '@Model.IsSubMenu';
    }
</script>